@{
	ViewData["Title"] = "Página Inicial";
}

<!-- BANNER -->
<section class="hero-banner position-relative">


	<div class="hero-overlay"></div>
	<div class="hero-content text-center">
	</div>
</section>

<!-- CALL TO ACTION -->
<section class="cta-container my-5">
	<button class="cta-button shadow-lg">
		NanoCuidado – O Futuro da Saúde Dentro de Você
	</button>
</section>

<!-- CONTEXT -->
<section class="context-box shadow-lg mb-5">
	<h2 class="fw-bold mb-3">Contextualização</h2>
	<p>
		A NanoCuidado desenvolve nanorrobôs inteligentes que navegam pela corrente sanguínea,
		detectam placas de colesterol e liberam medicamentos apenas no local necessário.
		Uma prevenção avançada para doenças como infarto e AVC, garantindo mais segurança e eficácia.
	</p>
</section>
