/* Banner */
.hero-banner {
    background-image: url("../img/ima1.jpg");
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 4px solid #c2b6b6;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    
    background-image: url('../img/bannernanocuidado.png');
    background-size: cover;
}

.hero-content {
    position: relative;
    color: #fff;
    z-index: 2;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

/* CTA */
.cta-container {
    display: flex;
    justify-content: center;
}

.cta-button {
    background: linear-gradient(135deg, #e6e1e1, #c2b6b6);
    color: rgb(211, 3, 27);
    padding: 18px 40px;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

    .cta-button:hover {
        background: linear-gradient(135deg, #d6d0d0, #b1a5a5);
        transform: scale(1.05);
    }

/* Caixa de contexto */
.context-box {
    width: 70%;
    background: #ffffff;
    padding: 30px 35px;
    margin: auto;
    border-radius: 20px;
    border-left: 6px solid rgb(211, 3, 27);
}

    .context-box p {
        font-size: 17px;
        line-height: 1.7;
    }
